<div *ngIf="pageExists; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div class="comic-container">
    <div class="comic-bar comic-bar-top">
      <a href="/comic/1" [ngClass]="{'disabled': number == 1}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleDoubleLeft" [ngClass]="{'disabled': number == 1}"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{(number - 1).toString()}}" [ngClass]="{'disabled': number == 1}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleLeft" [ngClass]="{'disabled': number == 1}"></fa-icon>
        </div>
      </a>
      <a href="/comic/archive">
        <div class="comic-bar-item">
          <fa-icon [icon]="faSquare"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{(number + 1).toString()}}" [ngClass]="{'disabled': number == lastNo}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleRight" [ngClass]="{'disabled': number == lastNo}"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{lastNo.toString()}}" [ngClass]="{'disabled': number == lastNo}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleDoubleRight" [ngClass]="{'disabled': number == lastNo}"></fa-icon>
        </div>
      </a>
    </div>
    <img class="comic-img" [src]="imageURL" alt="Comic page">
    <div class="comic-bar comic-bar-bottom">
      <a href="/comic/1" [ngClass]="{'disabled': number == 1}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleDoubleLeft" [ngClass]="{'disabled': number == 1}"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{(number - 1).toString()}}" [ngClass]="{'disabled': number == 1}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleLeft" [ngClass]="{'disabled': number == 1}"></fa-icon>
        </div>
      </a>
      <a href="/comic/archive">
        <div class="comic-bar-item">
          <fa-icon [icon]="faSquare"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{(number + 1).toString()}}" [ngClass]="{'disabled': number == lastNo}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleRight" [ngClass]="{'disabled': number == lastNo}"></fa-icon>
        </div>
      </a>
      <a href="/comic/{{lastNo.toString()}}" [ngClass]="{'disabled': number == lastNo}">
        <div class="comic-bar-item">
          <fa-icon [icon]="faAngleDoubleRight" [ngClass]="{'disabled': number == lastNo}"></fa-icon>
        </div>
      </a>
    </div>
  </div>
  <h2>{{title}}</h2>
  <p>{{createdDate}}</p>
  <p>{{description}}</p>
</ng-template>
<ng-template #elseBlock>
  <app-notfound *ngIf="displayNotFound"></app-notfound>
</ng-template>
