<h1>About</h1>
<p>While Ole may be an ordinary boy, his dogs Sniff and Bark are anything but ordinary. When the sorcerer-ringmasters of the famous Cabbage and Turnip Circus Troupe attempt to capture the dogs, it falls upon Ole and his friends, the hot-tempered Anja, the serene Kathi, and Jörg to ensure the safety of the dogs.</p>
<p><i>Sniff and Bark Tales</i> first started as a comic strip made by a group of classmates and now updates on Saturdays. As <i>Sniff and Bark Tales</i> consists of mild amounts of violence, parental guidance is advised.</p>
<h2 id="links">Links</h2>
<h3 id="socials">Socials</h3>
<ul>
  <li>
    <a href="https://www.tumblr.com/sniffandbarktales" target="_blank">Tumblr</a>
  </li>
  <li>
    <a href="https://bsky.app/profile/bsky.sniffandbarktales.com" target="_blank">BlueSky</a>
  </li>
  <li>
    <a href="https://discord.gg/StycXrKm4F" target="_blank">Discord Server</a>
  </li>
</ul>
<h2 id="website">Website</h2>
<p>This website is open-source. Check out the source code on <a href="https://github.com/salademalade/sabt-website" target="_blank">GitHub</a>.</p>
